.cardContainer{
  
    width:19rem;
    height:18.5rem;
  }
  
  .imageContainer img{
    height:12rem;
    width:15rem;
    
  }
  
 
  
  
  
  .categoryName{
    margin-top:.5rem;
    text-align: left;
    margin-left: 1rem;
  }