.cardContainer{
  
    width:19rem;
    height:18.5rem;
  }
  
  .imageContainer img{
    height:12rem;
    width:15rem;
    
  }
  
  .videoDetails{
    display: flex;
    margin-top:-2rem;
    margin-left: 1rem;
  }
  
  .watchNowBtn{
    height:2rem;
    width:18rem;
    
  }

  .watchNowBtn:hover{
    background-color: grey;
    cursor: pointer;
  }
  
  .categoryName{
    margin-top:.5rem;
    text-align: left;
    margin-left: 1rem;
  }