@import "./components/navbar/nav.css";
@import "./pages/homePage/home.css";
@import "./components/categoryCard/categorycard.css";
@import "./components/sideBar/sideBar.css";
@import"./pages/videoListing/videoListing.css";
@import "./components/videoCard/videoCard.css";
@import "./pages/watchVideo/watchVideo.css";
@import "./pages/loginPage/login.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
