.bannerImg img{
    margin: 2rem 2rem 2rem 2rem;
    height: 450px;
    width: 1250px;
}

.categoryHeading{
    text-align: left;
    margin-left: 3rem;
}

.categoryCardContainer{
    display: flex;
    gap: 2rem;
}